        <!-- About nav bar -->
        <div class="container">
            <ul class="nav nav-tabs" id="about-menu">
                <li id="about-inspiration"><a href="/ti/about/inspiration">Inspiration</a></li>
                <li id="about-howto"><a href="/ti/about/howto">How To</a></li>
                <li id="about-architecture"><a href="/ti/about/architecture">Architecture</a></li>
                <li id="about-future"><a href="/ti/about/future">Future</a></li>
            </ul>
        </div>