    
        <div id="about-accordion-toggle">
            <span id="about-accordion-enable"><a href="#">View as expandable list</a></span>
            <span id="about-accordion-disable"><a href="#">View as plain text</a></span>
        </div>

