<% include about-header %>
    
        <% include about-accordion-toggle %>

        <div id="about-main-text" class="text-block ui-accordion-top">
            <h3>Creating your Profile</h3>
            <div id="help-create-profile">
                <p>
                    It is recommended that you create an Email (local) account for this site. From there you can link various social accounts to make logging in easier.
                </p>
                <ol>
                    <li>From the Home page, click the Getting Started link</li>
                    <li>Select the Email Account option</li>
                    <li>From the Login page, click the Signup link</li>
                    <li>Enter an email address and choose password</li>
                    <li>
                        <ul>
                            <li>The email address will act as your username</li>
                            <li>If you have a Gravatar, make sure to use that email address</li>
                        </ul>
                    </li>
                    <li>Once a valid login has been created you will be taken to your profile home screen.</li>
                </ol>
            </div>

            <h3>Managing your profile</h3>
            <div class="ui-accordion-sub" style="margin: 0; padding: 10px 0 10px 25px;">
                <h4>Profile Home</h4>
                <div id="help-profile-home">
                    <ol>
                        <li>Log in to your profile and go to the Profile Home tab</li>
                        <li>Click the Edit Profile button</li>
                        <li>Enter your first and last name</li>
                        <li>Select your company and team</li>
                        <li>
                            <ul>
                                <li>If you don't see your company or team use the &quot;Request new company or team&quot; link to email your request to the administrator.</li>
                            </ul>
                        </li>
                        <li>Enter your role</li>
                        <li>Enter a description of your role</li>
                        <li>Click the Update button to save your changes</li>
                    </ol>
                    For help setting your profile photo, see the &quot;Gravatar&quot; help section below.
                </div>

                <h4>Strengths</h4>
                <div id="help-profile-strengths">
                    <p>Log in to your profile and go to the Strengths tab</p>
                    <p><u>Add a Strength</u></p>
                    <ol>
                        <li>Click on the &quot;Add...&quot; text</li>
                        <li>Type your strength or skill and click enter when finished.</li>
                        <li>Changes are saved automatically</li>
                    </ol>
                    <p><u>Remove a Strength</u></p>
                    <ol>
                        <li>Click on the &quot;x&quot; next to the strength text</li>
                        <li>Changes are saved automatically</li>
                    </ol>
                    <p><u>Tips</u></p>
                    <ul>
                        <li>Your strengths on your team are those that directly aid your day-to-day work and for which people rely on you the most</li>
                        <li>Your strengths at your company, beyond your team are those that contribute to your leadership team and other teams within the organization</li>
                        <li>Your other strengths would be those that you want to share, but may not be directly related to your team or company</li>
                        <li>A strength/skill may only be entered once per box</li>
                        <li>Browse the profiles of others to see if you're forgetting any of your key strengths</li>
                    </ul>
                </div>

                <h4>Preferences</h4>
                <div id="help-profile-preferences">
                    <p>Log in to your profile and go to the Preferences tab</p>
                    <p><u>Contact Preferences</u></p>
                    <ol>
                        <li>For each contact type (Help, Announcements, etc.), select up to 3 contact methods (Email, Phone, etc.) in the order of your preference</li>
                        <li>Changes are saved automatically</li>
                    </ol>
                    <p><u>Meeting Preferences</u></p>
                    <ol>
                        <li>Select your best day and best time of day for meetings</li>
                        <li>Changes are saved automatically</li>
                    </ol>
                    <p><u>Time Preferences</u></p>
                    <ol>
                        <li>Type in your typical arrival time, departure time, and any notes</li>
                        <li>Click the Update buttons below each field to save your changes</li>
                    </ol>
                    <p><u>Tips</u></p>
                    <ul>
                        <li>These are just your general preferences</li>
                        <li>Some jobs require a lot of meetings and inter-personal contact and some jobs do not. It's still a good idea to fill out at least one preference in each area.</li>
                        <li>The Time preferences are free-text for a reason. Maybe you arrive at &quot;7:50 AM&quot;. Maybe you leave at &quot;5:00 on the dot&quot;. Maybe you take a &quot;45 minute lunch at 11:45&quot; or &quot;Work from home on Weds&quot; (Notes).</li>
                    </ul>
                </div>

                <h4>Profile Logins</h4>
                <div id="help-profile-logins">
                    <p>Log in to your profile and go to the Profile Logins tab</p>
                    <p>Note: It is recommended that you start with an Email (local) account and link your social accounts from there.</p>
                    <p><u>Link a Social Account</u></p>
                    <ol>
                        <li>Click the Link button for the desired social account</li>
                        <li>You will be redirected to the appropriate login screen. These login screens are owned by the social network providers.</li>
                        <li>Enter your appropriate login credentials for the social network</li>
                        <li>You may be prompted to authorize this application to access limited social profile information, such as you email address</li>
                        <li>
                            <ul>
                                <li>This application will only use minimal social profile information, such as email address, for login purposes. This email address will NOT be shared with third parties and will not be used for promotional contact or data mining of any kind.</li>
                            </ul>
                        </li>
                        <li>After accepting the prompts from the social network provider, you will be redirected to the Profile section of this application</li>
                        <li>You should now see the linked social login in your Profile Logins tab</li>
                        <li>You are now able to login to this application using your credentials for the linked social network</li>
                    </ol>
                    <p><u>Link an Email (local) Account</u></p>
                    <ol>
                        <li>From the Local section of the Profile Logins tab, click the Link Local button</li>
                        <li>You will be redirected to a login screen where you can add a local account using an email address as your username</li>
                        <li>Complete the Signup process and you will be redirected to your Profile section</li>
                        <li>You should now see the Local login in your Profile Logins tab</li>
                        <li>You are now able to login with this local Email Address and password, or any of the social network logins that you've linked to your profile</li>
                    </ol>
                    <p><u>Unlink an account</u></p>
                    It is only recommended that you unlink an account if it is no longer active or maintained by you.
                    <ol>
                        <li>Click the Unlink button for any linked account</li>
                        <li>The selected account will be automatically removed from your profile</li>
                    </ol>
                    <p><u>Tips</u></p>
                    <ul>
                        <li>Start by creating an Email (local) account</li>
                        <li>Link as many social accounts as you can. The social profile information stored by this application usually just consists of an email address and a secure token identifier.</li>
                        <li>Linking social accounts makes logging in easy. If your browser is already logged into one of your social accounts, then you will have a one-click login into this application.</li>
                    </ul>
                </div>

                <h4>Administration</h4>
                <div id="help-profile-admin">
                    <p>This tab will only be available to application administrators</p>
                    <p>Log in to your profile and go to the Administration tab</p>
                    <p><u>Add a Company</u></p>
                    <ol>
                        <li>Type the company name in the Add a New Company box</li>
                        <li>Click the Add button</li>
                        <li>You will be alerted if the company name you entered already exists</li>
                    </ol>
                    <p><u>Add a Team</u></p>
                    <ol>
                        <li>Type the tema name in the Add a New Team box</li>
                        <li>Click the Add button</li>
                        <li>You will be alerted if the team name you entered already exists</li>
                    </ol>
                    <p><u>Add a Contact Type</u></p>
                    <ol>
                        <li>Type the contact type/method in the Add a Contact Type box</li>
                        <li>Click the Add button</li>
                        <li>You will be alerted if the contact type/method you entered already exists</li>
                    </ol>
                    <p><u>Tips</u></p>
                    <ul>
                        <li>Companies and Teams are not grouped togehther in the database; they are simple independent lists. Therefore, it is NOT necessary to create separate &quot;Web Development&quot; teams for Company 1 and Company 2.</li>
                    </ul>
                </div>

                <h4>Gravatar</h4>
                <div id="help-profile-gravatar">
                    <p>
                        Gravatar is a globally recognized avatar used by many high-profile web sites, including blogs message boards. You may associate a profile image/avatar with one or many email addresses. Then, by registering with web sites like this one using those email addresses, your profile avatar is picked up automatically. This allows you to maintain your image/avatar in one place, instead of on every web site that requires a profile.
                    </p>
                    <p>
                        Signing up for Gravatar is quick and easy. From your Profile Home tab, simply click the Gravatar link under your anonymous avatar. Follow the instructions on that site and the completed process should be recognized immediately. It helps to have a photo or image ready before your begin the signup process. Gravatar uses Wordpress credentials so if you already have a Wordpress account then establishing a Gravatar should be even faster.
                    </p>
                    <p>
                        If you already have a Gravatar and your profile on this site was created with your Gravatar email address, then your Gravatar has likely already been recognized. If it hasn't then it could be an issue of multiple email addresses. In order to send only one encrypted call to the Gravatar API this site uses an order of precedence. It looks first at your LinkedIn email, followed by your Google Plus email, followed by your Facebook email, then finally your local signon email address.
                    </p>
                    <p><u>Security</u></p>
                    <p>
                        Requesting your Gravatar from sites like this one is secure. Gravatar requires a hashed version of the email address in the request. Hashing is a form of encryption. This site uses the MD5 hash algorithm.
                    </p>                    
                </div>
            </div>

            <h3>Viewing Team Profiles</h3>
            <div id="help-view-profiles">
                <ol>
                    <li>From the top navigation menu select the Profiles link</li>
                    <li>Select a company and a team from the drop-down menus</li>
                    <li>If profiles exist for a team then a visual list of profiles will be displayed</li>
                    <li>The visual list includes some high-level information about each profile</li>
                    <li>For more information, click any profile to be presented with the full profile view</li>
                </ol>
                From this page you may also navigate you your profile home (or create a profile) by clicking the Update my Profile button
            </div>

            <h3>Viewing Team Summaries</h3>
            <div id="help-view-summary">
                <ol>
                    <li>From the top navigation menu select the Summary link</li>
                    <li>Select a company and a team from the drop-down menus</li>
                    <li>If profiles exist for a team then a visual summary of profiles will be displayed</li>
                    <li>The visual list includes a tag cloud of the collective skills of the team</li>
                    <li>For more information, click the Profiles link on the top navigation to view individual profiles</li>
                </ol>
                From this page you may also navigate you your profile home (or create a profile) by clicking the Update my Profile button
            </div>

            <h3>Terms and Conditions</h3>
            <div id="help-disclaimer" class="<% if (section && section === 'terms') { %>active<% } %>">
                <p>
                    This is a <em>Voluntary Communication Enhancement Tool</em> (VCET). The information submitted by users to this application is intended to facilitate communication with teammates and co-workers. 
                </p>
                <p>
                    Any consideration you give to information entered by yourself or other users is completely voluntary and at-will
                </p>
                <p>
                    The information submitted by users to this application may NOT be used for sales purposes or recruiting by any party.
                </p>
                <p>
                    The information submitted by users to this application may NOT be used by other organizations, individuals, or computer applications without written and notarized consent of the application and copyright owner(s).
                </p>
                <p>
                    The information submitted by users to this application is 100% subordinate to the policies of their respective organizations and their partners, as well as the local and national laws of the user's country of residence and the United States of America.
                </p>
                <p>
                    This Website may contain inaccuracies and/or typographical errors. The Website may change without notice, and all content and formatting may be altered, added to, or deleted at any time.
                </p>
                <p>
                    These Terms represent the entire understanding relating to the use of the Website and prevail over any prior or contemporaneous, conflicting or additional, communications. johnsandoval.us can revise these Terms at any time without notice by updating this posting.
                </p>

                <p>
                    Any action related to this Website will be governed by Colorado law and controlling U.S. federal law. No choice of law rules of any jurisdiction will apply.
                </p>

                <p>
                    Any software contained in or linked to by this Website (the “Software”) is copyrighted work. To use the Software you must comply with the terms of the Software’s license agrement.
                </p>
                <p>
                    SOFTWARE IS WARRANTED, IF AT ALL, IN ACCORDANCE WITH THE TERMS OF THE LICENSE AGREEMENT. EXCEPT AS SET FORTH IN THE LICENSE AGREEMENT, ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT, ARE DISCLAIMED, EXCEPT TO THE EXTENT THAT SUCH DISCLAIMERS ARE HELD TO BE LEGALLY INVALID.
                </p>
                <p>
                    This Website may be linked to other websites which are not under our control. We are not responsible for the content of those sites. The links are available only as a convenience, and the inclusion of any link to such sites does not imply endorsement by us of those sites.
                </p>
                <p>
                    UNLESS OTHERWISE EXPLICITY STATED, THE MATERIALS ON THE WEBSITE ARE PROVIDED “AS IS”. ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, ARE DISCLAIMED, EXCEPT TO THE EXTENT THAT SUCH DISCLAIMERS ARE HELD TO BE LEGALLY INVALID. THE AUTHORS OF THIS SITE MAKE NO REPRESENTATIONS, WARRANTIES, OR GUARANTIES AS TO THE QUALITY, SUITABILITY, TRUTH, ACCURACY OR COMPLETENESS OF ANY OF THE MATERIALS CONTAINED ON THE WEBSITE. ANY QUESTIONS REGARDING THE MATERIALS SHOULD BE DIRECTED TO THE PROVIDERS OF SUCH MATERIALS.
                </p>
                <p>
                    THE AUTHORS OF THIS WEB SITE SHALL NOT BE LIABLE FOR ANY DAMAGES SUFFERED AS A RESULT OF USING, MODIFYING, CONTRIBUTING, COPYING, DISTRIBUTING, OR DOWNLOADING THE MATERIALS ON THIS WEBSITE. IN NO EVENT SHALL WE BE LIABLE FOR ANY INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGE (INCLUDING LOSS OF BUSINESS, REVENUE, PROFITS, USE, DATA OR OTHER ECONOMIC ADVANTAGE) HOWEVER IT ARISES, WHETHER FOR BREACH OR IN TORT, EVEN IF WE HAVE BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
                </p>
                <p>
                    YOU HAVE SOLE RESPONSIBILITY FOR ADEQUATE PROTECTION AND BACKUP OF DATA AND/OR EQUIPMENT USED IN CONNECTION WITH THE WEBSITE AND WILL NOT MAKE A CLAIM AGAINST THIS WEB SITE OR ITS AUTHORS FOR LOST DATA, RE-RUN TIME, INACCURATE OUTPUT, WORK DELAYS OR LOST PROFITS RESULTING FROM THE USE OF THE MATERIALS. YOU AGREE TO HOLD US HARMLESS FROM, AND YOU COVENANT NOT TO SUE US FOR, ANY CLAIMS BASED ON USING THE WEBSITE.
                </p>
                <p>
                    johnsandoval.us is an independent publication and has not been authorized, sponsored, or otherwise approved by any companies or products mentioned within the Website.
                </p>
                <p>
                    Except where otherwise specified, the contents of this site are offered to the public under the Open Content License. It may be redistributed or republished only under the terms of that license.
                </p>
            </div>
           
        </div> 
 
 <% include about-footer %>