<% include about-header %>
     
        <div class="text-block">
        	<p>The inspiration for this app came from two places.</p>

            <p>
                The first was a desire to create a robust, yet lightweight application with which to test out <a href="http://nodejs.org/" target="_blank">Node.js</a>. I’d been keeping an eye on Node for the past year or so waiting to see if it would mature and stick around. Not only did it stick around, but Node is now the go-to framework for a large portion of prototypes, rapid dev projects, and push applications. Not only that, but it comes out-of-the-box with a web framework, a template engine, and a great package manager. In addition to Node, I also wanted to take a deeper look at <a href="http://www.mongodb.org/" target="_blank">MongoDB</a> – a game changer in the database realm.
            </p>

            <p>
                The second inspiration was an afternoon team workshop I attended with my department. Among other topics, the action item to <em>“track team strengths and preferences”</em> was assigned (which in corporate land means a spreadsheet). I liked the idea of tracking people’s strengths and preferences. It seemed like it could really enhance communication for those who were interested. So rather than create yet another spreadsheet (not my style), I decided it was a great opportunity to take a deep dive on Node, MongoDB, and a host of other important frameworks.
            </p>
        </div>
 
 <% include about-footer %>