<% include header %>
<% include navbar %>
  
    <div class="container error-container">
    	<h1>You broke it!</h1>
        <h3>Please try again later</h3>
        <pre><%= error.stack %></pre>
        <hr>
    </div>
 
<% include footer %>
