    <hr />
    <% var thisYear = new Date().getFullYear(); %>
    <footer class="ti-footer-placeholder">&nbsp;</footer>
    <footer class="ti-footer">© johnsandoval.us <%= thisYear %></footer>

    <!--  JavaScript -->
    <script src="/ti/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/ti/javascripts/jquery-ui.min.js"></script>
    <script src="/ti/javascripts/bootstrap.min.js"></script>
    <script src="/ti/javascripts/application.min.js"></script>
    <script src="//localhost:35729/livereload.js"></script>

</body>
</html>