
<% include header %>
<% include navbar %>
 
    <!-- Main jumbotron -->
    <div class="jumbotron">
        <div class="container">
            <h1>Team Innovation App</h1>
            <p>This application tracks the strengths an preferences of team members in order to foster an optimal working environment for efficiency and innovation.
            	Create your profile today and see how you and your teammates share the workplace.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="/formapp1/profiles">Get started &raquo;</a>
            </p>
        </div>
    </div>
 
 	<!-- Start container -->
    <div class="container">
        
    	<!-- Row of columns -->
		<div class="row">
		    <div class="col-md-4">
		        <h2>Profiles</h2>
		        <p>Allow your teammates access to the best of you. Create and manage a profile 
		        	that tracks your personal strengths and preferences. Update your profile as often as you like, 
		        	or simply set it and forget it. Learned a new skill lately? Add it to your strengths today!
		        </p>
		        <p>
		            <a class="btn btn-default" href="/formapp1/profiles/home" role="button">Manage profile &raquo;</a>
		        </p>
		    </div>
		    <div class="col-md-4">
		        <h2>Summary</h2>
		        <p>View a "map" of the team that highlights what we're all about.
		        	Also, view the overall team preferences for communication style and 
		        	time management. Make your interaction count by keeping your finger on the pulse of the team.
		        </p>
		        <p>
		            <a class="btn btn-default" href="/formapp1/summary" role="button">View Summary &raquo;</a>
		        </p>
		    </div>
		    <div class="col-md-4">
		        <h2>About</h2>
		        <p>Learn more about the Team Innovation App. What was the inspiration behind it? How is it architected? 
		        	What's in store for the future? We want you to share the passion as we endeavor to bring
		        	our technical minds closer together.
		        </p>
		        <p>
		            <a class="btn btn-default" href="/formapp1/about" role="button">Learn more &raquo;</a>
		        </p>
		    </div>
		</div>

    <!-- End container -->
    </div>    
 
 <% include footer %>