
<% include header %>
<% include navbar %>
 
    <!-- Main jumbotron -->
    <div class="jumbotron bg-canvas-1">
        <div class="row">
            <div class="col-sm-11 text-right">
                <h1>Team Integration App</h1>
            </div>
        </div>
    </div>
 
    <!-- Start main container -->
    <div class="container">

        <div class="row marquee">
            <div class="col-sm-12">
                <p class="hidden-xs">
                    This application tracks the strengths an preferences of team members in order to foster an optimal working environment for efficiency and innovation.
                    Create your profile today and see how you and your teammates share the workplace.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button" href="/ti/profiles/home">Get started &raquo;</a>
                </p>
            </div>
        </div>
        
        <div class="row">

            <!-- Manage profile -->
            <div class="col-sm-4">
                <h2>Profiles</h2>
                <p>
                    Allow your teammates access to the best of you. Create and manage a profile 
                    that tracks your personal strengths and preferences. <span class="hidden-xs hidden-sm hidden-md">Update your profile as often as you like, 
                    or simply set it and forget it. Learned a new skill lately? Add it to your strengths today!</span>
                </p>
                <p>
                    <a class="btn btn-default" href="/ti/profiles/home" role="button">Manage profile &raquo;</a>
                </p>
            </div>
            <!-- Summary -->
            <div class="col-sm-4">
                <h2>Summary</h2>
                <p>
                    View a skill map that highlights what your team is all about. Engage teammates to update their profiles so the team can shine. <span class="hidden-xs hidden-sm hidden-md">Even save the image and post it on your team web site. Make your interactions count by keeping your finger on the pulse of the organization.</span>
                </p>
                <p>
                    <a class="btn btn-default" href="/ti/summary" role="button">View Summary &raquo;</a>
                </p>
            </div>
            <!-- About -->
            <div class="col-sm-4">
                <h2>About</h2>
                <p>
                    Learn more about the Team Integration App. What was the inspiration behind it? How is it architected? 
                    What's in store for the future? <span class="hidden-xs hidden-sm hidden-md">We want you to share the passion as we endeavor to bring
                    our technical minds closer together.</span>
                </p>
                <p>
                    <a class="btn btn-default" href="/ti/about" role="button">Learn more &raquo;</a>
                </p>
            </div>

        </div>

    <!-- End main container -->
    </div>    
 
 <% include footer %>