
<% include header %>
<% include navbar %>
 
     <!-- Main jumbotron -->
    <div class="jumbotron bg-canvas-1">
        <div class="row">
            <div class="col-sm-11 text-right">
                <h1>Team Integration App</h1>
            </div>
        </div>
    </div>

    <!-- Start main container -->
    <div class="container">
        
        <div id="login-options" class="profile-detail-border text-center">
            <h3>Login with:</h3>
            <a href="/ti/profiles/auth/linkedin" class="btn fa-linkedin-btn"><span class="fa fa-linkedin"></span> LinkedIn</a>
            <a href="/ti/profiles/auth/google" class="btn fa-google-plus-btn"><span class="fa fa-google-plus"></span> Google+</a>
            <a href="/ti/profiles/auth/facebook" class="btn fa-facebook-btn"><span class="fa fa-facebook"></span> Facebook</a>
            <a href="/ti/profiles/login" class="btn btn-default"><span class="fa fa-user"></span> Email Account</a>
        </div>

    <!-- End main container -->
    </div>    
 
<% include footer %>