
<% include header %>
<% include navbar %>
 
 	 <!-- Main jumbotron -->
    <div class="jumbotron bg-canvas-9">
         <div class="container">
    		<!--h1>This will be the profile login</h1-->
    	</div>   
    </div>
 	<!-- Start container -->
    <div class="container">
        
        <div class="col-sm-6">

        	<!-- Login Header -->
			<h1><span class="fa fa-sign-in"></span> Login</h1>

			<!-- Show any messages that come back with authentication -->
			<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
			<% } %>

			<!-- Login Form -->
			<form action="/ti/profiles/login" method="post">
				<div class="form-group">
					<label>Email Address</label>
					<input type="text" class="form-control" name="email" autofocus="autofocus" />
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" />
				</div>

				<button type="submit" class="btn btn-warning btn-lg">Login</button>
			</form>

			<hr>
			<!-- Signup Link -->
			<p>Need an account? <a href="/ti/profiles/signup">Signup</a></p>
			<!-- Password Reset Link -->
			<p>Need a password reset? <a href="mailto:john.x.sandoval@gmail.com?subject=Ti%20Password%20Reset%20Request">Send a request</a></p>

		</div>
    	
    <!-- End container -->
    </div>    
 
<% include footer %>