
<% include header %>
<% include navbar %>
 
    
 	 <!-- Main jumbotron -->
    <div class="jumbotron">
         <div class="container">
        
    		<h1>This will be the profile login selection</h1>

    	</div>   
    </div>
 	<!-- Start container -->
    <div class="container">
        
        <div class="jumbotron text-center">

			<p>Login with:</p>

			<a href="/formapp1/profiles/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
			<a href="/formapp1/profiles/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
			<!-- a href="/formapp1/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a -->
			<a href="/formapp1/profiles/login" class="btn btn-default"><span class="fa fa-user"></span> Email Account</a>

		</div>

    <!-- End container -->
    </div>    
 
 <% include footer %>