        <!-- Profile logout button -->
        <div id="logout" class="text-center">
            <a href="/ti/profiles/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

    <!-- End main container -->
    </div>    
 
<% include footer %>