
<% include header %>
<% include navbar %>
    
    <!-- Main jumbotron -->
    <div class="jumbotron bg-canvas-6">
         <div class="container">
            <!--h1>This will be the main profile display</h1-->
        </div>   
    </div>

    <!-- Start container -->
    <div class="container">

        <!-- Profile filters -->
        <div id="profile-filters-container">
            <% include filters %>
        </div>

        <!-- Profile List -->
        <div id="profile-list" class="text-center"></div>

        <!-- Profile Detail -->
        <div id="modal-content"></div>

    <!-- End container -->
    </div>

<% include footer %>