
    <div class="container">
        
            <ul class="nav nav-tabs">
                <li id="profile-home"><a href="/formapp1/profiles/home">Profile Home</a></li>
                <li id="profile-strengths"><a href="/formapp1/profiles/strengths">Stengths</a></li>
                <li id="profile-preferences"><a href="/formapp1/profiles/preferences">Preferences</a></li>
                <li id="profile-logins"><a href="/formapp1/profiles/logins">Profile Logins</a></li>
            </ul>

    </div>