
<% include header %>
<% include navbar %>
 
    
 	 <!-- Main jumbotron -->
    <div class="jumbotron">
         <div class="container">
        
    		<h1>This will be the main profile display</h1>

    	</div>   
    </div>
 	<!-- Start container -->
    <div class="container">
        
        <div class="jumbotron text-center">

			The profiles will be listed here

		</div>

    <!-- End container -->
    </div>

    <div class="container">
        <a href="/formapp1/profiles/home" class="btn btn-default"><span class="fa fa-user"></span> Update or create my Profile</a>
    </div>
 
 <% include footer %>