
<% include header %>
<% include navbar %>
 
    
 	 <!-- Main jumbotron -->
    <div class="jumbotron">
         <div class="container">
        
    		<h1>This will be the profile home</h1>

    	</div>   
    </div>
 	<!-- Start container -->
    <div class="container">

    	<% include profile-navbar %>
        
		<div class="jumbotron text-center">

			<p>Profile preferences form</p>

		</div>

		<div class="page-header text-center">
			<a href="/formapp1/profiles/logout" class="btn btn-default btn-sm">Logout</a>
		</div>

    <!-- End container -->
    </div>    
 
 <% include footer %>