
<% include header %>
<% include navbar %>
    
    <!-- Main jumbotron -->
    <div class="jumbotron bg-canvas-5">
         <div class="container">
            <!--h1>This will be the summary report</h1-->
        </div>   
    </div>

    <!-- Start container -->
    <div class="container">

        <!-- Summary filters -->
        <div id="summary-filters-container">
            <% include filters %>
        </div>

        <!-- Summary Report -->
        <div id="summary-content" class="text-center"></div>

        <!-- Summary Select -->
        <div id="modal-content"></div>

    <!-- End container -->
    </div>

<% include footer %>